<div class="wrapper col-md-12">
	<div class="home-container col-md-offset-2 col-md-8">
		<div class="home-head-left" id="top">
		<a href="/#/Register">
			<h1>Jinglr</h1>
			<h2>It's like tinder but for integers</h2>
			<h3>Make an account today and start jinglin'</h3>
		</div>
		<div class="home-head-right">
		<span class="glyphicon glyphicon-phone big-phone"></span>
		</div>
		</a>
	</div>


	<div class="low-home-container col-md-10 small-hide">
	<div class="low-home-head small-hide">
		<h1>Having trouble meeting people? <br/> <br/><i>Jinglr helps you mingle!</i></h1>
	</div>
	<h3>

	<div class="instructions">

	<div class="instruction">
			<div class="left">				
			When you start, we give you six digits, plus a super integer.
			</div>
		<div class="right">
				<span class="glyphicon glyphicon-phone"></span>

		</div>

		</div>
	<div class="instruction">

		<div class="left">	
						<span class="glyphicon glyphicon-phone"></span>

			</div>
		<div class="right">
								The super integer is weighted <i>triple</i>. 	
		</div>
	</div>
	
	<div class="instruction">

		<div class="left">				
			Find nearby jinglrs, and connect with those who got the same digits.
		</div>
		<div class="right">
				<span class="glyphicon glyphicon-phone"></span>

		</div>
	</div>
	<div class="instruction">

		<div class="left">	
							<span class="glyphicon glyphicon-phone"></span>

		</div>
		<div class="right">
							Found an exact match? Well, that's like winning the friendship lottery.

		</div>
	</div>
	<div class="instruction">

		<div class="left">				
							When fate comes jingling, will you answer?
		</div>
		<div class="right">
				<span class="glyphicon glyphicon-phone"></span>

		</div>
	</div>
<a ui-sref="Register">
	<div class="instruction">

		<div class="text-center">	
			<span class="glyphicon glyphicon-phone"></span>
			<span class="glyphicon glyphicon-phone"></span>
	              <span class="glyphicon glyphicon-phone"></span>
			<span class="glyphicon glyphicon-phone"></span>

		</div>
	</div>
</a>
	</h3>

</div>

					
					
		</div>
		
	</div>
</div>
