
<div class="profile-box">
	<h1>Here's your deal </h1>	

<div class="username-box">
	You call yourself {{ jinglr.username }}
</div>

<div class="digits-box">
	Your digits are {{ jinglr.digits }}
</div>

<div class="super-integer-box">
	Your super integer is {{ jinglr.superInteger }}
</div>

<div ng-show="jinglr.cute" class="cute-box">
	And you're cute!
</div>

<div ng-show="!jinglr.cute" class="cute-box">
	And, while you're not especially cute, you have other positive qualities.
</div>

</div>

</div>


  <div class="my-messages-box right">
  	<div class="row">
  		<div class="col-md-6">
	  		<h3>Your received messages</h3>
	  		<div ng-repeat="message in jinglr.receivedMessages">
		  		<div class="message-box inbox">
		  			<b>sent from: {{ message.fromUserName }} ({{ message.timeStamp | date }}) <br/></b>
		  			<i>It says: {{ message.words }}</i>
		  		</div> 
	  		</div>
  		</div>
  		<div class="col-md-6">

  		  		<h3>Your sent messages</h3>
  		<div ng-repeat="message in jinglr.sentMessages">
	  		<div class="message-box outbox">
	  			<b>sent to {{message.toUserName}} ({{message.timeStamp | date }})</b> <br/>
	  			<i> {{message.words}} </i>
	  		</div>
  		</div>
  	</div>
  	</div>
  	</div>

  		<a ui-sref="JinglrsNearby"><div class="phone-woosh">
  	<span class="glyphicon glyphicon-phone left"></span>
  	<div><br/><h4> / Jinglr helps you mingle! \</h4></div>
  </a>
  </div>

