
<div class="profile-box">
	<h1>Here's the deal with this jinglr </h1>	

<div class="username-box">
	They call themselves <strong>{{ jinglr.username }}</strong>
</div>

<div class="digits-box">
	Their digits are {{ jinglr.digits }}
</div>

<div class="super-integer-box">
	Their super integer is {{ jinglr.superInteger }}
</div>

<div ng-show="jinglr.cute" class="cute-box">
	And they're cute!
</div>

<div ng-show="!jinglr.cute" class="cute-box">
	And, while they're not especially cute, they have other positive qualities.
</div>

<div class="digits-box top-gap" style="padding: 1em; border-radius:15px">
		<textarea type="textarea" ng-model="message.words" rows="5" />
		<button class="btn btn-danger" ng-click="addMessage(message)">
			send a message
		</button>
</div>
</div>

</div>
<flash-message duration="5000" show-close="true" on-dismiss="myCallback(flash);"></flash-message> 

	<a ui-sref="JinglrsNearby"><div class="phone-woosh">
  	<span class="glyphicon glyphicon-phone left"></span>
  	<div><br/><h4> / Jinglr helps you mingle! \</h4></div>
  </a>
  </div>
