<div class="home-container top-gap">
<form role="form" class="form-horizontal">
<fieldset>

<!-- Form Name -->

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="checkbox">Are you cute?</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="radios-0">
      <input type="checkbox" ng-model="jinglr.cute" name="checkbox">
      Yes, I'm  pretty cute.
    </label>
	</div>
  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="username">Pick a username</label>  
  <div class="col-md-4">
  <input id="username" name="username" ng-model="jinglr.username" type="text" placeholder="for example: geeWhiz87" class="form-control input-md">
  <label class="col-md-4 control-label" for="username">Pick a password WARNING!!! THIS APP IS NOT SECURE!!! I TRIED TO MAKE IT SECURE BUT IT IS NOT!!! DO NOT ENTER SENSITIVE INFORMATION!!!</label>  
  <input id="password" name="password" ng-model="jinglr.password" type="password" placeholder="for example: password1234" class="form-control input-md">
  <br/>
    <button type="submit" ng-click="addJinglr(jinglr.username, jinglr.password, jinglr)" class="btn btn-warning">Make a Jinglr!</button>

  </div>
</div>
  <a ui-sref="home"><div class="phone-woosh">
    <span class="glyphicon glyphicon-phone left"></span>
    <div><br/><h4> / Jingle helps you mingle! \</h4></div>
  </a>
</fieldset>
</form>
</div>
